construct>=2.9.29
asn1~=2.7.0
click~=8.1.7
IPython~=8.20.0
bpylist2>=4.0.1
hexdump~=3.3
arrow
daemonize
gpxpy<1.6.0
pykdebugparser>=1.2.4
pyusb>=1.2.1
tqdm~=4.66.1
requests~=2.31.0
xonsh~=0.14.4
parameter_decorators
packaging~=23.2
pygnuutils>=0.0.7
cryptography>=41.0.1
pycrashreport>=1.2.2
fastapi[all]~=0.109.0
uvicorn>=0.15.0
starlette
wsproto
nest_asyncio>=1.5.5
Pillow~=10.2.0
inquirer3>=0.1.0
pyimg4>=0.8
ipsw_parser>=1.1.2
remotezip
zeroconf~=0.131.0
ifaddr~=0.2.0
hyperframe~=6.0.1
srptools~=1.0.1
qh3>=0.11.5
developer_disk_image>=0.0.2
opack~=0.1.0
psutil~=5.9.8
pytun-pmd3>=1.0.0 ; platform_system != "Windows"
aiofiles~=23.2.1
prompt_toolkit
sslpsk-pmd3>=1.0.2

pip~=23.2.1
Pygments~=2.17.2